# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.cpython-*.pyc

# Virtual Environment
venv/
env/
ENV/

# Database
*.sqlite3
*.db

# Environment variables
.env

# Testing & Logs
.pytest_cache/
*.log
